.signup-page {
    background: linear-gradient(to bottom right, #ffffff 50%, #b5d8f1 100%);
    min-height: 100vh;
  }
  
  .signup-box {
    margin-top: 5px;
    width: 100%;
    max-width: 500px;
  }
  